<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

  <!-- Header -->
  <module name="Header">
    <property name="header"
      value="////////////////////////////////////////////////////////////////////\n// [DIANA] [GROSSELLE] [2137985]\n// [VALENTINO NICOLA] [MILANI] [2147991]\n////////////////////////////////////////////////////////////////////"/>
  </module>

  <module name="FileLength"/>
  <module name="LineLength"/>
  <module name="FileTabCharacter"/>
  <module name="TreeWalker">
    <module name="BooleanExpressionComplexity"/>
    <module name="CyclomaticComplexity"/>
    <module name="MethodLength"/>
    <module name="EmptyCatchBlock"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="NeedBraces"/>
  </module>
</module>